aaaa ICON "wx/msw/std.ico"

newNodeButtonImage RCDATA "media/newNodeButtonImage.PNG"
newEdgeButtonImage RCDATA "media/newEdgeButtonImage.PNG"
algorithmButtonImage RCDATA "media/algorithmButtonImage.PNG"
#include "wx/msw/wx.rc"
